swagger: '2.0'
info:
  version: 1.0.0
  title: GamifyMe API
  description: |
    ## Welcome to the GamifyMe API documentation. 
    #### Please note that this API requires authentication using the `x-gamifyme-token header`. 
    
    You can find your API key in `API Docs` section of your dashboard
    To authenticate, please click on the 'Authorize' button and enter your API key.
    
    ## Rate Limited
    For the purpose of beta the APIs are *rate-limited to a maximum of 500 requests per day* (refer `X-GamifyMe-Rate-Limit` in response as it might change)  per API Key(User).
    
    
    When the limit is exceeded, the server will return a 429 Too Many Requests status code.
    
    
    To check the current rate limit status, the response headers include the `X-GamifyMe-Rate-Limit` and `X-GamifyMe-Remaining-Calls` headers.
    
    
    The `X-GamifyMe-Remaining-Calls` header indicates the total number of requests allowed for rest of the day while `X-GamifyMe-Rate-Limit` header
    indicates the remaining number of requests available for the current day.
    
    
    You can also refer `X-GamifyMe-Limit-Reset-In` which is when the limit will reset (the given unit will be in seconds)

host: https://bg6pwcfvp3.execute-api.ap-south-1.amazonaws.com
basePath: /v1
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: x-gamifyme-token
    in: header
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /boards/points:
    post:
      security:
        - ApiKeyAuth: [ ]
      summary: Add points to a player on a board
      description: Add points to a player on a board
      tags:
        - Points
      parameters:
        - name: boardId
          in: body
          description: ID of the board
          required: true
          schema:
            type: string
        - name: playerId
          in: body
          description: ID of the player
          required: true
          schema:
            type: string
        - name: points
          in: body
          description: Number of points to add
          required: true
          schema:
            type: number
      responses:
        '201':
          description: Points added successfully
        '400':
          description: Invalid input parameters
        '401':
          description: Unauthorized request
        '429':
          description: Rate limit exceeded
